* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 96px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway";
  padding: 32px;
  margin-bottom: 96px;
}
.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.nav-link:link,
.nav-link:visited {
  color: #222;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:active {
  font-weight: 500;
  color: blue;
}
.logo-box {
  background-image: url(images/logo.svg);
  width: 166px;
  height: 49px;
}
.hero {
  display: flex;
  align-items: center;
  gap: 25px;
}
.hero-header {
  font-weight: 700;
  color: hsl(243, 87%, 12%);
  line-height: 1.1;
  margin-bottom: 24px;
}
.hero-text {
  color: hsl(238, 22%, 44%);
  margin-bottom: 24px;
}
.input {
  width: 50%;
  margin-bottom: 12px;
  height: 40px;
  margin-right: 12px;
}
.get-started {
  color: hsl(240, 75%, 98%);
  border: none;
  padding: 8px 48px;
  background-color: hsl(224, 93%, 58%);
}
form:focus {
  border: 2px solid red;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 96px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
