* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
p {
  margin-bottom: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 96px;
}
/*******************/
/* header section */
/*******************/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway";
  padding: 32px;
  margin-bottom: 96px;
}
.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.nav-link:link,
.nav-link:visited {
  color: #222;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:active {
  font-weight: 500;
  color: blue;
}
.logo-box {
  background-image: url(images/logo.svg);
  width: 166px;
  height: 49px;
}
.hero {
  display: flex;
  align-items: center;
  gap: 25px;
}
.hero-header {
  font-weight: 700;
  color: hsl(243, 87%, 12%);
  line-height: 1.1;
  margin-bottom: 24px;
}
.hero-text {
  color: hsl(238, 22%, 44%);
  margin-bottom: 24px;
}
.input {
  width: 55%;
  margin-bottom: 12px;
  height: 40px;
  margin-right: 12px;
  padding: 12px;
}
.get-started {
  color: hsl(240, 75%, 98%);
  border: none;
  padding: 8px 48px;
  background-color: hsl(224, 93%, 58%);
}
.get-started:hover {
  background-color: hsl(224, 80%, 70%);
}
.form *:focus {
  border: none;
  outline: none;
  /* outline: 2px solid red; */
  /*outline-offset: 8px; */
  box-shadow: 0 0 0 1px red;
}
/* .form input::placeholder {
  text-align: center;
  margin-right: 12px;
} */
/*******************/
/* section- how */
/*******************/

.section-how {
  background-image: url(images/bg-curve-desktop.svg);
  padding: 96px 0 96px 0;
}
.section-testimonial {
  display: flex;
  align-items: center;
  gap: 24px;
}
.section-how-header {
  font-weight: 600;
  color: hsl(243, 87%, 12%);
  line-height: 1.1;
  margin-bottom: 24px;
}
.section-how-text {
  font-size: 16px;
  color: hsl(238, 22%, 44%);
  line-height: 1.4;
  margin-bottom: 12px;
}
.m {
  display: inline-block;
}
.link-box {
  display: flex;
  align-items: center;
  gap: 6px;
  border-bottom: 1px solid hsl(170, 45%, 43%);
}
.section-how-link {
  color: hsl(170, 45%, 43%);
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}
.section-how-link:hover,
.section-how-link:visited {
  color: hsl(170, 45%, 43%);
  font-weight: bold;
}
.link-icon {
  color: hsl(170, 45%, 43%);
}
.testimonial {
  margin-top: 48px;
  background-color: #fff;
  padding: 32px 12px 32px 12px;
  width: 60%;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);*/
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.quote-icon {
  margin-bottom: 12px;
}
.testimonial-text {
  color: hsl(238, 22%, 44%);
}
.image-box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.image-box img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.name {
  color: hsl(243, 87%, 12%);
  font-size: 16px;
  font-weight: 600;
}
.name-tag {
  color: hsl(238, 22%, 44%);
}
/*******************/
/* cta section */
/*******************/
.cta {
  background-color: hsl(238, 22%, 44%);
  padding: 32px 0;
}
.cta-box {
  display: flex;
  align-items: center;
  gap: 140px;
  margin-top: 0;
  margin-bottom: 0;
}
.cta-text-box {
  color: hsl(240, 75%, 98%);
}
.input-2 {
  width: 420px;
  margin-bottom: 12px;
  height: 40px;
  padding: 12px;
  background-color: white;
  margin-right: 6px;
}
.form-btn {
  margin-left: 4px;
}
.get-started-2 {
  color: hsl(240, 75%, 98%);
  border: none;
  padding: 8px 20px;
  background-color: hsl(224, 93%, 58%);
}
.get-started-2:hover {
  background-color: hsl(224, 80%, 70%);
}
.form-2 *:focus {
  border: none;
  outline: none;
  /* outline: 2px solid red; */
  /*outline-offset: 8px; */
  box-shadow: 0 0 0 1px red;
}
/*******************/
/* footer section */
/*******************/
.footer {
  background-color: hsl(243, 87%, 12%);
  padding: 32px 0;
}
.footer-section {
  margin-bottom: 0;
}
.footer-box {
  width: 70%;
  display: flex;
  gap: 64px;
  justify-content: space-between;
  margin-top: 24px;
}
.footer-logo {
  filter: invert(2);
}

.contact-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 6px;
}
.phone-list {
  display: flex;
  align-items: center;
  gap: 12px;
  /* color: #fff; */
}
.footer li {
  color: hsl(240, 75%, 98%);
}
.mail-list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.link:link,
.link:active {
  text-decoration: none;
  color: hsl(240, 75%, 98%);
  transition: all 0.3s;
}
.link:hover,
.link:visited {
  text-decoration: underline;
}

.about-us,
.contact-us {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.social-icons {
  list-style: none;
  display: flex;
  gap: 12px;
}
.social-icons li {
  color: #fff;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 48px;
  color: #fff;
  font-size: 13px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution a:link,
.attribution a:visited {
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.attribution a:hover,
.attribution a:active {
  text-decoration: underline;
  font-weight: bolder;
}
